@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Main Street Movies</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="nav-content">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a asp-controller="Home" asp-action="Index" class="nav-link">Home</a>
                    </li>
                    <li>
                        <a asp-controller="Reviews" asp-action="Index" class="nav-link">Reviews</a>
                    </li>
                    <li>
                        <a asp-controller="Showings" asp-action="Index" class="nav-link">Search by Showings</a>
                    </li>
                    <li>
                        <a asp-controller="Search" asp-action="Index" class="nav-link">Search by Movies</a>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                @if (User.IsInRole("Employee") || User.IsInRole("Manager"))
                {
                    <li>
                        <a asp-controller="Orders" asp-action="Index" class="nav-link">Orders</a>
                    </li>
                    <li>
                        <a asp-controller="Tickets" asp-action="Index" class="nav-link">Tickets</a>
                    </li>
                     <li>
                        <a asp-controller="Schedules" asp-action="Index" class="nav-link">Schedule</a>
                    </li>
                <li>
                    <a asp-controller="RoleAdmin" asp-action="Index" class="nav-link">Manage Roles</a>
                </li>
                     <li class="nav-item">
                    <a asp-controller="Movies" asp-action="Index" class="nav-link">Movies</a>
                </li>} }
                @if (User.IsInRole("Customer"))
                {
                    <li>
                        <a asp-controller="Orders" asp-action="Index" class="nav-link">Orders</a>
                    </li>
                    <li>
                        <a asp-controller="Tickets" asp-action="Index" class="nav-link">Tickets</a>
                    </li>
                 }





                </ul>
            </div>
            @await Html.PartialAsync("_LoginPartial")
        </nav>
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/popper.js/popper.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
    <hr />

    <h5 style="text-align: center">© 2020 - Hunnits</h5>
</body>

</html> 