@model Group25_Final_Project.Models.Movie

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MovieID" />

            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Overview" class="control-label"></label>
                <input asp-for="Overview" class="form-control" />
                <span asp-validation-for="Overview" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseDate" class="control-label"></label>
                <input asp-for="ReleaseDate" class="form-control" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="RunningTime" class="control-label"></label>
                <input asp-for="RunningTime" class="form-control" />
                <span asp-validation-for="RunningTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tagline" class="control-label"></label>
                <input asp-for="Tagline" class="form-control" />
                <span asp-validation-for="Tagline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MPAARating" class="control-label"></label>
                <input asp-for="MPAARating" class="form-control" />
                <span asp-validation-for="MPAARating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genre" class="control-label"></label>
                @Html.DropDownList("SelectedGenre", (SelectList)ViewBag.AllGenres, new { @class = "form-control" })
                <a asp-action="Create" asp-controller="Genres" class="btn btn-primary">Create New</a>
            </div>
            <div class="form-group">
                <label asp-for="Actors" class="control-label"></label>
                <input asp-for="Actors" class="form-control" />
                <span asp-validation-for="Actors" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

